body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-page {
    text-decoration: none;
    color: black;
}

#lien-register {
    text-decoration: none;
    color: black;
}
#lien-register:hover {
    color: blue;
}

#lien-login {
    text-decoration: none;
    color: black;
} 
#lien-login:hover {
    color: blue;
}

#lien-forgotpassword {
    text-decoration: none;
    color: black;
} 
#lien-forgotpassword:hover {
    color: blue;
}

