section {
    padding: 0;
    margin: 0;

    font-family: 'Trebuchet MS', sans-serif;
    user-select: none;
}

h2 {
    margin: 0;
    font-size: 1.8em;
    user-select: none;
}

.div-form {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-from {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

.label-form {
    font-size: 1.2em;    
}

#annotations {
    font-size: 0.8em;
    padding-top: 0.6em;
}
#carac-min {
    font-size: 0.5em;
}
#password-form {
    font-size: 1.2em;
}

strong {
    color: crimson;
    font-size: 0.8em;    
}
var {
    color: grey;
    font-size: 0.8em;   
}

input, select {
    width: 100%;
    padding: 4px;
    padding-left: 6px;
    margin-top: 1px;
    box-sizing: border-box;
    border: 1px solid gray; 
    border-radius: 3px;

    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

.button-form {
    margin-top: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.button-form:hover {
    cursor:pointer;
    border-color: red;

}

input:invalid {
    border: 0.2em solid crimson;
  }

#sexe:invalid {
    border: 0.2em solid crimson;
}
