body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-page {
    text-decoration: none;
    color: black;
    user-select: none;
}

#lien-register {
    text-decoration: none;
    color: var(--DATA_COLOR_LIENS);
}
#lien-register:hover {
    color: var(--DATA_COLOR_LIENS_HOVER);
}

#lien-login {
    text-decoration: none;
    color: var(--DATA_COLOR_LIENS);
} 
#lien-login:hover {
    color: var(--DATA_COLOR_LIENS_HOVER);
}
#lien-profil {
    text-decoration: none;
    color: var(--DATA_COLOR_LIENS);
} 
#lien-profil:hover {
    color: var(--DATA_COLOR_LIENS_HOVER);
}
#lien-lostpassword {
    text-decoration: none;
    color: var(--DATA_COLOR_LIENS);
} 
#lien-lostpassword:hover {
    color: var(--DATA_COLOR_LIENS_HOVER);
}
#lien-remail {
    text-decoration: none;
    color: var(--DATA_COLOR_LIENS);
}
#lien-remail:hover {
    color: var(--DATA_COLOR_LIENS_HOVER)
}

#lien-lostpassword, #lien-lostpassword:hover, #lien-login, #lien-login:hover, #lien-register, #lien-register:hover, #lien-remail, #lien-remail:hover, #lien-profil, #lien-profil:hover {
    --DATA_COLOR_LIENS_HOVER: red;
    --DATA_COLOR_LIENS: grey;
  }

