<!DOCTYPE html>
<html>
    <head>
        <title>PaperLand</title>

        <meta charset="utf-8">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-404.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-profil.css') }}"/>
    </head>
    <body>
        <header id="main-header">
            <h1 id="title"><a href="/">PaperLand</a></h1>
            <div id="icone">
                <a href="{{ url_for('profil') }}"><img src="{{ url_for('static', filename='img/user.svg') }}" alt="user icone" width="40px"></a>
                <a href="/panier"><img src="{{ url_for('static', filename='img/shopping-cart.svg') }}" alt="shopping cart icone" width="40px"></a>
            </div>
        </header>
        <div class="separator"></div>
        <nav>
            <ul class=nav>
                <li><a href="/">Accueil</a></li>
                <li class="deroullant">
                    <a href="#" class="titre-deroullant">Papeterie</a>
                    <div class="contenu-deroullant">
                        <a href="#">Feuilles blanches</a>
                        <a href="#">Cahiers</a>
                    </div>
                </li>
                <li><a href="#">Informatique</a></li>
                <li><a href="#" class="titre-deroullant">Fournitures scolaires</a>
                    <div class="contenu-deroullant">
                        <a href="#">Trousses</a>
                        <a href="#">Crayons</a>
                    </div>
                </li>
                <li><a href="/404">Classement</a></li>
            </ul>
        </nav>
        <div class="separator"></div>

        {% block content %}{% endblock %}
    </body>
</html>