<!DOCTYPE html>
<html>
    <head>
        <title>PaperLand</title>

        <meta charset="utf-8">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-404.css') }}"/>
    </head>
    <body>
        <header id="main-header">
            <h1 id="title">PaperLand</h1>
            <a id="login" href="/login">Login</a>
        </header>
        <div class="separator"></div>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a href="/">Accueil</a></li>
                <div class="vertical-bar"></div>
                <li class="nav-item"><a href="#">Papeterie</a>
                    <ul class="under-nav">
                        <li class="under-nav-item"><a href="#">feuilles blanches</a></li>
                        <li class="under-nav-item"><a href="#">cahiers</a></li>
                    </ul>
                </li>
                <div class="vertical-bar"></div>
                <li class="nav-item"><a href="#">Informatique</a></li>
                <div class="vertical-bar"></div>
                <li class="nav-item"><a href="#">Fournitures scolaires</a></li>
                <div class="vertical-bar"></div>
                <li class="nav-item"><a href="404">Classement</a></li>
            </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>