{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Index - {% endblock %}</h1>
{% endblock %}
{% block content %}

<h1 id=accueil-titre>Accueil</h1>

<header id="index-header">
    <h3 id=cat1>Cahiers</h3>
    <div class="orga-produits">
        {% for product in products_cahiers %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/papetrie/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}      
    </div>
    <h3 id=cat2>Imprimantes</h3>
    <div class="orga-produits">
        {% for product in products_imprimantes %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/informatique/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}
    </div>
    <h3 id=cat3>Stylos, Crayons et Feutres</h3>
    <div class="orga-produits">
        {% for product in products_stylos %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/fournitures/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}
        {% for product in products_crayons %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/fournitures/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}
        {% for product in products_feutres %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/fournitures/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}
    </div>
    <h3 id=cat2>Gommes</h3>
    <div class="orga-produits">
        {% for product in products_gommes %}
        <div class=miniature-produit>
            <a href="/papetrie/{{product.category}}/{{product.id}}"><img src="{{product.image}}" width=100%/></a>
            <a href="/informatique/{{product.category}}/{{product.id}}">{{product.name}}</a> <p>{{product.price}} € </p>
        </div>
        {% endfor %}
    </div>
</header>

{% endblock %}