{% extends 'base-connection.html' %}
{% block header %}
    <h1>{% block title %}Login - {% endblock %}</h1>
{% endblock %}
{% block content %}

<section id="section-login" class="section-form">
    {% include 'layout.html' %}
    <div class="div-form">
        <h2>S'identifier</h2>
        <form action="{{ url_for('login') }}" method='POST' class="form">
            <div class="item-from">
                <label class="label-form">Email</label>
                <input type="email" name="email" class="input-form" required pattern=".*[@].*[.].*" placeholder="exemple@exemple.fr" id="email"/>
            </div>
            <div class="item-from">
                <label class="label-form">Mot de passe</label>
                <input type="password" name="password" class="input-form" required id="password"/>
            </div>
            <div class="item-form">
                <!-- <button class="button-form">Valider</button> -->
                <input class="button-form" type="submit" value="Connexion"/>
            </div>
        </form>
        <p>Pas encore inscrit ? <a href="/register/" id="lien-register">Inscrivez-vous ici</a><br>Mot de passe oublié ? <a href="/lostpassword" id="lien-lostpassword">Récupérez le ici</a></p>
    </div>
</section>

{% endblock %}
