{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}
            {% if product.name != '' %}
                {{ product.name }} - 
            {% endif %}
            {% if product.name == '' %}
                Not Found - 
            {% endif %}
        {% endblock %}
    </h1>
{% endblock %}
{% block content %}
<header id="product-header">
    {% if product != None %}
        <h2 id="product-name">{{ product.name }}</h2>
        <img src="{{ product.image }}" width=30% />    
        <p id="product-description">{{ product.description }}</p>
        <p>{{ product.price }} €</p>
    {% endif %}
    {% if product == None %}
        <article class="article-product">
            <h2><a href="/">Aucun Produit à afficher !</a></h2>
        </article>
    {% endif %}
</header>
{% endblock %}