{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}
            {% if product.name != '' %}
                {{ product.name }} - 
            {% endif %}
            {% if product.name == '' %}
                Not Found - 
            {% endif %}
        {% endblock %}
    </h1>
{% endblock %}
{% block content %}
<header> <!-- c'est un affichage d'une page produit -->
    {% if product != None %}
    <div class="product-back">
        <h2>{{ product.name }}</h2> <!-- nom du produit -->
        <img src="{{ product.image }}" width=50% /> <!-- l'image -->
        <p id="product-description">{{ product.description }}</p> <!-- afficher sa description -->
        <p id="product-price">{{ product.price }} €</p> <!-- le prix -->
        <h3 id=deco><a href='/add_to_cart/'>AJT panier</a></h3> <!-- ajouter le produit au panier user -->

    </div>
    {% endif %}
    {% if product == None %} <!-- s'il n'y a pas de produits -->
        <article class="article-product">
            <h2><a href="/">Aucun Produit à afficher !</a></h2>
        </article>
    {% endif %}
</header>
{% endblock %}