{% extends 'base-connection.html' %}

{% block content %}

<section id="section-register" class="section-form">
    <div class="div-form">
        <h2>Créer un compte</h2>
        <form action="" method="get" class="form">
            
            <div class="item-from">
                <label class="label-form">Pseudo</label>
                <input type="text" name="pseudo" class="input-form" required/>
            </div>
            <div class="item-from"> 
                <label class="label-form">Nom</label>
                <input type="text" name="lastname" class="input-form" required/>
            <div class="item-from">
                <label class="label-form">Prénom</label>
                <input type="text" name="firstname" class="input-form" required/>
            </div>
            </div>
            <div class="item-from">
                <label class="label-form">Sexe</label>
                <select id="sexe" name="sexe" required>
                    <option hidden ></option> >Choisissez un sexe...</option>
                    <option value="femme">Femme</option>
                    <option value="homme">Homme</option>
                    <option value="non binaire">Non-Binaire</option>
                    <option value="autre">Autre</option>
                </select>
            </div>
            <div class="item-from">
                <label class="label-form">Email</label>
                <input type="email" name="email" class="input-form" placeholder="exemple@exemple.com"required/>
            </div>
            <div class="item-from">
                <label class="label-form">Adresse</label>
                <input type="adresse" name="adresse" class="input-form" placeholder="6 Parvis Notre-Dame"required/>
            </div>
            <div class="item-from">
                <label class="label-form">Ville</label>
                <input type="ville" name="ville" class="input-form" placeholder="Paris" required/>
            </div>
            <div class="item-from">
                <label class="label-form">Code Postal</label>
                <input type="cp" name="cp" class="input-form" placeholder="75004" required/>
            </div>
            <div class="item-from">
                <label class="label-form">Telephone</label>
                <input type="telephone" name="telephone" class="input-form" placeholder="FR : +33 X XX XX XX XX" required/>
            </div>
            <div class="item-from">
                <label class="label-form">Date de naissance</label>
                <input type="date" name="birthday" class="input-form" required/>
            </div>
            <div class="item-from">
                <label class="label-form">Mot de passe</label>
                <input type="password" name="password" class="input-form" required/>
            </div>
            
            <div class="item-from">
                <button class="button-form">Valider</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}