<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Admin-Paperland</title>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-admin.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-layout.css') }}"/>
    
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>