{% extends 'admin/base.html' %}

{% block content %}

<section>
    <article>
        <h2>Produits</h2>
        <ul>
            <li><a href="{{ url_for('admin_view_product') }}">Voir table des produits</a></li>
            <li><a>Modifier un produit</a></li>
            <li><a>Ajouter un produit</a></li>
            <li><a>Supprimer un produit</a></li>
        </ul>
    </article>
    <article>
        <h2>Catégories</h2>
        <ul>
            <li><a>Voir la liste des catégories</a></li>
            <li><a>Ajouter une catégorie</a></li>
            <li><a>Supprimer une catégorie</a></li>
        </ul>
    </article>
</section>

{% endblock %}