{% extends 'admin/base.html' %}

{% block content %}

<section>
    <article>
        <h2>Produits</h2>
        <ul>
            <li><a href="{{ url_for('admin_view_product') }}">voir table des produits</a></li>
            <li><a>modifier un produit</a></li>
            <li><a>ajouter un produit</a></li>
            <li><a>supprimer un produit</a></li>
        </ul>
    </article>
    <article>
        <h2>Categories</h2>
        <ul>
            <li><a>voir la liste des catégories</a></li>
            <li><a>ajouter une catégorie</a></li>
            <li><a>supprimer une catégorie</a></li>
        </ul>
    </article>
</section>

{% endblock %}