{% extends 'admin/base.html' %}

{% block content %}

<section>
    <form action="{{ url_for('admin_new_product_request') }}" method="POST">
        <div class="item-form">
            <label class="label-form">Nom</label>
            <input class="input-form" name="name" id="name" type="text" required/>
        </div>
        <div class="item-form">
            <label class="label-form">Categorie</label>
            <input class="input-form" name="category" id="category" type="text" required/>
        </div>
        <div class="item-form">
            <label class="label-form">Prix</label>
            <input class="input-form" name="price" id="price" type="text" required/>
        </div>
        <div class="item-form">
            <label class="label-form">Image (url)</label>
            <input class="input-form" name="image" id="image" type="url" required/>
        </div>
        <div class="item-form">
            <label class="label-form">Description</label>
            <input class="input-form" name="description" id="description" type="text"/>
        </div>
        <div>
            <input class="input-form" id="submit" type="submit"/>
        </div>
    </form>
</section>

{% endblock %}