{% extends 'base-connection.html' %}
{% block header %}
    <h1>{% block title %}Modifier un produit - {% endblock %}</h1>
{% endblock %}
{% block content %}

<section id="section-modify-product" class="section-form">
    {% include 'layout.html' %}
    <div class="div-form">
        <h2>Modifier Un Produit</h2> <!-- formulaire pour modifier un produit -->
        <form action="{{ url_for('admin_modify_product') }}" method="POST">
            <div class="item-from">
                <label class="label-form">Id</label>
                <input type="id" name="id" class="input-form"  autocomplete="off"required id="id"/>
            </div>           
            <div class="item-form">
                <label class="label-form">Nom</label>
                <input class="input-form" name="name" id="name" autocomplete="off" type="text" />
            </div>
            <div class="item-form">
                <label class="label-form">Categorie</label>
                <input class="input-form" name="category" autocomplete="off" id="category" type="text" />
            </div>
            <div class="item-form">
                <label class="label-form">Prix</label>
                <input class="input-form" name="price" autocomplete="off" id="price" type="text" />
            </div>
            <div class="item-form">
                <label class="label-form">Image (url)</label>
                <input class="input-form" name="image" autocomplete="off" id="image" type="url" />
            </div>
            <div class="item-form">
                <label class="label-form">Description</label>
                <input class="input-form" name="description" autocomplete="off" id="description" type="text"/>
            </div>
            <div class="item-form">
                <input class="button-form" type="submit" value="Modifier le Produit"/>
            </div>
        </form>
        <p>Fausse manip ? <a href="/admin/" id="lien-admin">Retour au menu Administrateur</a></p>
    </div>
</section>

{% endblock %}
