{% extends 'base-connection.html' %}
{% block header %}
    <h1>{% block title %}Ajouter Produit - {% endblock %}</h1>
{% endblock %}
{% block content %}


<section id="section-add-product" class="section-form">
    {% include 'layout.html' %}
    <div class="div-form">
        <h2>Ajouter Un Produit</h2>
        <form action="{{ url_for('admin_new_product') }}" method="POST">
            <div class="item-form">
                <label class="label-form">Nom</label>
                <input class="input-form" name="name" id="name" type="text" autocomplete="off" required/>
            </div>
            <div class="item-form">
                <label class="label-form">Categorie</label>
                <input class="input-form" name="category" id="category" type="text" autocomplete="off" required/>
            </div>
            <div class="item-form">
                <label class="label-form">Prix</label>
                <input class="input-form" name="price" id="price" type="text" autocomplete="off" required/>
            </div>
            <div class="item-form">
                <label class="label-form">Image (url)</label>
                <input class="input-form" name="image" id="image" type="url" autocomplete="off" required/>
            </div>
            <div class="item-form">
                <label class="label-form">Description</label>
                <input class="input-form" name="description" id="description" autocomplete="off" required type="text"/>
            </div>
            <div class="item-form">
                <input class="button-form" type="submit" value="Ajouter le Produit"/>
            </div>
        </form>
        <p>Fausse manip ? <a href="/admin/" id="lien-admin">Retour au menu Administrateur</a></p>
    </div>
</section>

{% endblock %}