{% extends 'admin/base.html' %}

{% block content %}

<section>
    <table width=100%>
        <thead>
            <th class="product-view-column-1">name</th>
            <th class="product-view-column-2">category</th>
            <th class="product-view-column-3">price</th>
            <th class="product-view-column-4">image</th>
            <th class="product-view-column-5">description</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class="product-view-column-1"><a href="/admin/produit/{{product[0]}}">{{product[1]}}</a></td>
                <td class="product-view-column-2">{{product[2]}}</td>
                <td class="product-view-column-3">{{product[3]}}</td>
                <td class="product-view-column-4"><img src={{product[4]}} width=100%/></td>
                <td class="product-view-column-5">{{product[5]}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><a href="/admin/produit/nouveau-produit">ajouter un nouveau produit</a></td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}